@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-amber-50: #FFFBEB;
  --color-amber-100: #FEF3C7;
  --color-amber-200: #FDE68A;
  --color-amber-300: #FCD34D;
  --color-amber-400: #FBBF24;
  --color-amber-500: #F59E0B;
  --color-amber-600: #D97706;
  --color-amber-700: #B45309;
  --color-amber-800: #92400E;
  --color-amber-900: #78350F;
  --color-amber-950: #451A03;
}

:root {
  --ui-radius: 0.75rem;
  --ui-bg: var(--color-white);
  --ui-bg-muted: var(--color-gray-50);
  --ui-bg-elevated: var(--color-gray-100);
  --ui-bg-accented: var(--color-amber-50);
  --ui-text: var(--color-gray-900);
  --ui-text-muted: var(--color-gray-500);
  --ui-text-dimmed: var(--color-gray-400);
  --ui-text-highlighted: var(--color-gray-950);
  --ui-border: var(--color-gray-200);
  --ui-border-muted: var(--color-gray-100);
  --ui-border-accented: var(--color-gray-300);
}

.dark {
  --ui-bg: var(--color-gray-950);
  --ui-bg-muted: var(--color-gray-900);
  --ui-bg-elevated: var(--color-gray-800);
  --ui-bg-accented: var(--color-amber-950);
  --ui-text: var(--color-gray-100);
  --ui-text-muted: var(--color-gray-400);
  --ui-text-dimmed: var(--color-gray-600);
  --ui-text-highlighted: var(--color-white);
  --ui-border: var(--color-gray-800);
  --ui-border-muted: var(--color-gray-900);
  --ui-border-accented: var(--color-gray-700);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
